.gg{
    background-image: url(../!/guriamirimg1/ggmm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    background-position: center;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}